# добавляем  proxy.yaml
include:
  - proxy.yaml

services:
  # инициализируем базу данных MySQL
  db:
    image: mysql:8
    container_name: mysql-db
    env_file: .env  # говорим что  существует .env файл с параметрами
    networks:
      backend:
        ipv4_address: 172.20.0.10  # резервируем IP адрес для sql
    restart: always  #  перезапуск сервиса в случае ошибок
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # Веб-приложение FastAPI
  web:
    build:
      context: .
      dockerfile: Dockerfile.python  # cобираем из Dockerfile.python согласно задачи
    container_name: fastapi-app
    depends_on:
      db:
        condition: service_healthy
    networks:
      backend:
        ipv4_address: 172.20.0.5  # задаем IP
    restart: unless-stopped  #  перезапускаться в случае ошибок
    env_file: .env # - пароли храним секурно, чтоб не попали в метаданные слоя докера

volumes:
  mysql_data:


